<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Servidor con Express y Socket.io</title>
</head>

<body>
    <h1>Funciona!</h1>
    <p id="text"></p>
    <input type="text" name="mensaje" id="mensaje">
    <button id="enviar">Enviar al servidor</button>
    <br>
    <button id="saludar">Saludar al último</button>

    <p id="mensajes"></p>

    <ul class="room" id="room1"></ul>
    <ul class="room" id="room2"></ul>
    <ul class="room" id="room3"></ul>

    <button id="connectRoom1">Room 1</button>
    <button id="connectRoom2">Room 2</button>
    <button id="connectRoom3">Room 3</button>
    <br>
    <input type="text" name="mensajeRoom" id="mensajeRoom">
    <button id="sendMsg">Enviar mensaje a la sala</button>

    <!-- <div id="circle"></div> -->


    <h1>Chat de <span id="namespace"></span></h1>
    <select name="grupo" id="grupo">
        <option value="admin" selected>Admin</option>
        <option value="user">User</option>
    </select>
    <input type="text" name="usuariochat" id="usuariochat">
    <ul id="chat"></ul>
    <input type="text" name="mensajechat" id="mensajechat">
    <button id="enviarchat">Enviar mensaje al chat</button>
    <br>
    <br>
    <br>
    <button id="send-all">Enviar a todos los clientes conectados</button>
    <button id="desconectar">Desconectar</button>
    <button id="reconectar">Reconectar</button>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>